[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"
pillow = "*"
django-crontab = "*"
django-redis = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
flower = "*"
redis = "*"
awscli = "*"

[dev-packages]
awscli = "*"

[requires]
python_version = "3.6"
